# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# don't keep knitr output on development branch
PA1_template.html
PA1_template.md
PA1_template_files/